 /*
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {
  executor = 'crg'
  queue = { 'long-sl7' }

  cpus = { check_max( params.set_cpu, 'cpus' ) }
  memory = { check_max( params.set_memory * task.attempt, 'memory' ) }
  time = { check_max( params.set_time * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'terminate' }
  maxRetries = 1
  maxErrors = '-1'
}

params {
  set_cpu = 1
  set_memory = 24.GB
  set_time = 16.h
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 180.h
}