/*
 * -------------------------------------------------
 *  Nextflow config file for running at CRG
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test
 */

// default params
params{

  // main input files
  id = "SRP012682"
  data = "/users/cn/sjin/projects/proportionality/data/${params.id}/rse_gene.Rdata"
  genes = "/users/cn/sjin/projects/proportionality/data/${params.id}/mygenes_enzyme_go"

  // propr permutation
  permutation = 20

  // output
  outdir = "${baseDir}/results/${params.id}/comparison_propr_pearson_p${params.permutation}/network"
  tracedir = "${outdir}/pipeline_info"

  combs = ["rho,NA,clr", \
           "cor,NA,NA", "cor,NA,log2", "cor,NA,clr", \
           "cor,rpkm,NA", "cor,rpkm,log2", "cor,rpkm,clr", \
           "cor,tmm,NA", "cor,tmm,log2", "cor,tmm,clr"]

  // check if output exists
  check = true

  // config
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run Proportionnality analysis on enzyme genes using CRG cluster'
  set_cpus = 1
  set_time = '48h'
  // set_mem = 64
}

process {
    executor = 'crg'
    maxRetries = 1

    queue = { 'long-sl7' }

    cpus = "${params.set_cpus}"
    time = { "${params.set_time}" }
}


// trace report
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
tower {
  accessToken = '57cc4e09eb0909d18d9926731205dfff09a13cc4'
  enabled = true
}