/*
 * -------------------------------------------------
 *  Nextflow config file for running at CRG
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test
 */

params {
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run GO annotation (graflex) on CRG cluster'

  set_cpus = 1
  set_time = '72h'
  set_mem = '64.GB'
}

process {
    executor = 'crg'
    maxRetries = 3

    queue = { 'long-sl7' }

    cpus = "${params.set_cpus}"
    time = { "${params.set_time}" }
    memory = { "${params.set_mem}" }
}
