/*
 * -------------------------------------------------
 *  Nextflow config file for running at CRG
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/chipseq -profile test
 */

// default params
params{

   
  // main input files
  id = "SRP012682"
  data = "/users/cn/sjin/projects/proportionality/data/${params.id}/rse_gene.Rdata"
  genes = "/users/cn/sjin/projects/proportionality/data/${params.id}/mygenes_enzyme_go"

  // propr permutation
  propr_permutation = 20

  // main output directory
  outdir = "${baseDir}/results/${params.id}/comparison_propr_pearson_p${params.propr_permutation}"
  tracedir = "${outdir}/pipeline_info"

  // association method + normalization + transformation combinations
  // combs = ["rho_NA_clr", \
  //          "cor_NA_NA", "cor_NA_log2", "cor_NA_clr", \
  //          "cor_rpkm_NA", "cor_rpkm_log2", "cor_rpkm_clr", \
  //          "cor_tmm_NA", "cor_tmm_log2", "cor_tmm_clr"]
  combs = ["rho_NA_clr"]

  // graflex permutation
  graflex_permutation = 500

  // proportionality or pearson cutoff -> graflex
  params.cutoff = [0.85,0.8,0.9]

  // filter gene-pathway according to ontology and evidence
  params.filter = "--filter"
  // params.filter = ""


  // check if output exists
  check = true

  // config
  config_profile_name = 'CRG profile'
  config_profile_description = 'Configuration to run Proportionnality analysis on enzyme genes using CRG cluster'
  set_cpus = 1
  set_time = '48h'
  // set_mem = 64
}

process {
    executor = 'crg'
    maxRetries = 1

    queue = { 'long-sl7' }

    cpus = "${params.set_cpus}"
    time = { "${params.set_time}" }
}


// trace report
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
tower {
  accessToken = '57cc4e09eb0909d18d9926731205dfff09a13cc4'
  enabled = true
}